<script></script>
<template>
  <section>
    <div class="container mx-auto flex flex-col items-center">
      <h2 class="text-master_shadow text-4xl font-bold text-center">
        De ce sa apelezi la PSYMED?
      </h2>
      <p class="text-master_shadow text-center mt-5 w-96">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
        itaque minus, deleniti aspernatur fugiat possimus quos aliquid
        voluptatem aut consequatur consequuntur fugit in amet accusamus qui,
        culpa totam eveniet nihil.
      </p>
    </div>
  </section>
</template>
<style></style>
