<script></script>
<template>

<section class="h-72">
    <div class="background-section text-master_shadow flex flex-col justify-end items-center">
        <p class="font-bold text-xl mb-5">Cabinete de Psihiatrie Dr. Iova - PSYMED</p>
        <p>Strada Ciheiului nr.35, bloc A3, parter</p>
        <p>Oradea, Bihor, Romania</p>
        <p>(0359) 450 657</p>
        <div class="w-96 flex justify-between pt-5 underline">
            <a href="">contact</a>
            <a href="">programari</a>
            <a href="">program medici</a>
            <a href="">locatie</a>
        </div>
    </div>
    
</section>

</template>
<style scoped>

.background-section {
  width: auto;
  height: 100%;
  position: relative;
  background-image: url("F:\Universitate\Code\TAW\psymed\src\assets\footer.svg");
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

</style>