<script></script>
<template>
  <iframe
  class="rounded-xl w-map h-map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1922.9777472337216!2d21.944176006035626!3d47.030394941714746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474639167b0b99d9%3A0x430a460d4798c123!2sPsihiatrie%20Dr.%20Iova!5e0!3m2!1sro!2sro!4v1704286067791!5m2!1sro!2sro"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</template>
<style></style>
