@tailwind base;
@tailwind components;
@tailwind utilities;


.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .divMintUp {
    background-image: url('F:\Universitate\Code\TAW\psymed\src\assets\divMintUp.svg');
  }

  .divMintDown {
    background-image: url('F:\Universitate\Code\TAW\psymed\src\assets\divMintDown.svg');
  }

  .divMintUp2 {
    background-image: url('F:\Universitate\Code\TAW\psymed\src\assets\divMintUp2.svg');
  }

  .divMintDown2 {
    background-image: url('F:\Universitate\Code\TAW\psymed\src\assets\divMintDown2.svg');
  }